### Assignment 2

### Part 1 (50 pts) 
Each question is 10 pts

1- Sort the following the list. Hint: there is a "sorted" function for lists.

In [2]:
mylist= [3, 5, 7, 4, 8, 2, 1, 6, 9, 0]

In [3]:
sorted(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2 - Display the list in reverse order. Hint: there is a "reversed" function for lists

In [7]:
list(reversed(mylist))

[0, 9, 6, 1, 2, 8, 4, 7, 5, 3]

3 - Create a new list by removing the highest 2 values and lowest 2 values from mylist

In [9]:
new_list=sorted(mylist)

In [14]:
filteredlist=new_list[2:-2]
filteredlist

[2, 3, 4, 5, 6, 7]

4 - The average of the list is 4.5.  You can calculate this by sum(mylist)/len(mylist). Compelete the code below that generates a list of lists. The first sub list has all the values below average, and the next has the values above average.

In [ ]:
below_average=[]
above_average=[]


for a_value in mylist: 
    if  ...
        above_alerage.append(...)
    elif ...
        below_aveage.append(...)
    else ... 
    
result=above_average + below_average

In [20]:
below_average=[]
above_average=[]

mean=sum(mylist)/len(mylist) 

for a_value in mylist: 
    if  a_value > mean:
        above_average.append(a_value)
    elif a_value < mean:
        below_average.append(a_value)
    else :
        continue
    
result=above_average + below_average

[5, 7, 8, 6, 9, 3, 4, 2, 1, 0]

5 - Convert the following list of words "my_words" to a unique set of words by removing the duplicates. You need to run the next chunk to generate my_words

In [21]:
my_paragraph='Data science is a concept to unify statistics, data analysis, machine learning and their related methods in order to understand and analyze actual phenomena with data. It employs techniques and theories drawn from many fields within the context of mathematics, statistics, information science, and computer science.'
my_paragraph=my_paragraph.lower().replace(',','').replace('.','')
my_words=my_paragraph.split()

In [22]:
list(set(my_words))

['in',
 'analyze',
 'related',
 'unify',
 'and',
 'with',
 'is',
 'analysis',
 'techniques',
 'the',
 'data',
 'of',
 'concept',
 'mathematics',
 'science',
 'order',
 'employs',
 'machine',
 'learning',
 'drawn',
 'many',
 'actual',
 'a',
 'theories',
 'it',
 'their',
 'understand',
 'methods',
 'context',
 'from',
 'within',
 'statistics',
 'to',
 'phenomena',
 'information',
 'computer',
 'fields']

### Part 2  (50 pts)
Complete 2 of the 3 questions

In [26]:
my_dictionary={'cero':0, 'uno':1 , 'dos':2 , 'tres':3 , 'cuatro':4 , 'cinco':5 , 'seis':6 , 'siete':7 , 'ocho':8 , 'nueve':9 }

1.  Using the dictionary above, create a program that constructs integer from a string input of digits written in Spanish. For example if the input is 'tres cinco uno' the output should be 351.

In [27]:
in_spanish='tres cinco uno'.split()
result=''
for text in in_spanish: 
    number=my_dictionary[text]
    result+=str(number)

results=int(result)
print(result)

351

2 - Complete program below  that would reverse the dictionary above. The reversed_dictionary should print as :   
    {0: 'cero', 1: 'uno', 2: 'dos', 3: 'tres', 4: 'cuatro', 5: 'cinco', 6: 'seis', 7: 'siete', 8: 'ocho', 9: 'nueve'}

In [28]:
reversed_dict={}
for key, value in my_dictionary.items():
    reversed_dict[value]=key
print(reversed_dict)

{0: 'cero', 1: 'uno', 2: 'dos', 3: 'tres', 4: 'cuatro', 5: 'cinco', 6: 'seis', 7: 'siete', 8: 'ocho', 9: 'nueve'}

3 - Create a program that converts any input text to morse code based on the morse code table below. The program should leave a space between each sequence of dashes and dots for each character and 2 spaces between each word.

In [31]:
MORSE_CODE_DICT = { 'A':'.-', 'B':'-...', 
                    'C':'-.-.', 'D':'-..', 'E':'.', 
                    'F':'..-.', 'G':'--.', 'H':'....', 
                    'I':'..', 'J':'.---', 'K':'-.-', 
                    'L':'.-..', 'M':'--', 'N':'-.', 
                    'O':'---', 'P':'.--.', 'Q':'--.-', 
                    'R':'.-.', 'S':'...', 'T':'-', 
                    'U':'..-', 'V':'...-', 'W':'.--', 
                    'X':'-..-', 'Y':'-.--', 'Z':'--..', 
                    '1':'.----', '2':'..---', '3':'...--', 
                    '4':'....-', '5':'.....', '6':'-....', 
                    '7':'--...', '8':'---..', '9':'----.', 
                    '0':'-----', ', ':'--..--', '.':'.-.-.-', 
                    '?':'..--..', '/':'-..-.', '-':'-....-', 
                    '(':'-.--.', ')':'-.--.-'}

In [32]:
message=['--.', '.', '.', '-.-', '...', '-....-', '..-.', '---', '.-.', '-....-', '--.', '.', '.', '-.-', '...']

In [33]:
decoder={}
for val in MORSE_CODE_DICT:
    code=MORSE_CODE_DICT[val]
    decoder[code]=val

for code in message:
    print(decoder[code], end='')

GEEKS-FOR-GEEKS