## Titanic Example

In [1]:
import pandas as pd

In [2]:
titanic=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

 What are average ages for males and females who survived  (survived==1) ?

In [4]:
titanic[titanic['survived']==1].groupby('sex')['age'].agg(['mean'])

             mean
sex
female  28.847716
male    27.276022

 What are average ages for males and females who didn't survived  (survived==0)

In [5]:
titanic.groupby(['survived','sex'])['age'].agg(['mean'])

                      mean
survived sex
0        female  25.046875
         male    31.618056
1        female  28.847716
         male    27.276022

 Which columns have missing values ? How many missing values do they have ?

In [6]:
titanic.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

 Try to fill the age values by using other variables in the dataset

In [13]:
titanic['av_age']=titanic.groupby(['sex','pclass'])['age'].transform('mean')
titanic['age']=titanic['age'].fillna(titanic['av_age'])

 What is the average fare for passengers who survived, and what is the average fare for passengers who didn't survive

In [14]:
titanic.groupby('survived')['fare'].agg(['mean'])

               mean
survived
0         22.117887
1         48.395408

  sibs shows the number of siblings / spouses aboard the Titanic. parch shows of parents / children aboard the Titanic. Create a new variable that shows the family size for each passenger. Did larger families have a better survival rate ?

In [17]:

famsize=titanic['sibsp']+titanic['parch']

In [20]:
titanic['famsize']=famsize+1

In [26]:
famsize_report=titanic.groupby('famsize')['survived'].agg(['sum','count']).reset_index()

In [28]:
famsize_report['percent']=famsize_report['sum']/famsize_report['count']

In [29]:
famsize_report

   famsize  sum  count   percent
0        1  163    537  0.303538
1        2   89    161  0.552795
2        3   59    102  0.578431
3        4   21     29  0.724138
4        5    3     15  0.200000
5        6    3     22  0.136364
6        7    4     12  0.333333
7        8    0      6  0.000000
8       11    0      7  0.000000