### SECTION 1

In [4]:
import pandas as pd 

df=pd.read_csv('datasets/movie_ratings.csv' )

first_genre=df['genres'].str.split('|', expand=True)[0]
df['main_genre']=first_genre

df['title']=df['title'].str.strip()
df['year']=df['title'].str[-5:-1]
df=df[df['year'].str.isnumeric()]
df['year']=pd.to_numeric(df['year'])

1- What are the yearly rating averages?

In [10]:
yearly_average=df.groupby('year')['rating'].agg(['mean'])

In [ ]:
## Visualize the yearly averages using 'yearly_average'

2 - Which years have the highest 5 rating averages?

In [ ]:
yearly_average.sort_values(by='mean', ascending=False).head()

In [ ]:
## Visualize the yearly rating average for years with top 3 years

3- Add a column to `yearly_average` that shows the number of movies made in these years.

In [33]:
## Old movies have really high rating averages. 
yearly_average_with_count=df.groupby('year')['rating'].agg(['mean','count']).head()

In [ ]:
## Visualize yearly_average_with_count with a bar graph plot

4 - Sort years based the number of films produced. Is there a pattern? What can we say about the movie production rate over the years.

In [ ]:
yearly_average.sort_values(by='count', ascending=False)

In [ ]:
## Visualize the yearly average with a line graph

5 - Which genres are the most popular?

In [4]:
df.groupby('main_genre')['title'].count().sort_values(ascending=False).head(3)

main_genre
Drama     7709
Comedy    6668
Action    3465
Name: title, dtype: int64

In [5]:
## Visualize the results

6- Which genres are most liked ?

In [6]:
df.groupby('main_genre')['rating'].agg(['mean','count']).sort_values(by='mean')

                        mean  count
main_genre
IMAX                2.533333      1
Horror              2.604157   1366
(no genres listed)  2.771531    233
Sci-Fi              2.799310    162
Children            2.888802    405
Musical             2.957358     92
Thriller            2.969432    275
Action              2.976834   3465
Western             2.986815    207
Fantasy             2.997350    135
Romance             3.013840    143
Mystery             3.063586    139
Comedy              3.090744   6668
Adventure           3.104184   1330
Animation           3.167287    560
War                 3.200764     35
Crime               3.214546   1586
Drama               3.276927   7709
Documentary         3.444347   2173
Film-Noir           3.502881     38

In [7]:
## visualize the results - you will need two graphs